*{
    margin: 0;
    padding: 0;
    font-size: 1.3rem;
    
}
body{
}
header >section{
    font-family: 'DM Serif Display', serif;
    display: flex;
    align-items: center;
    height: auto;
    text-align: center;
    background-color:deeppink ;
    border: cyan solid;
    padding: 10px;
    justify-content: space-around;
    
}
body article{
    font-family: 'Kalam', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: yellow;
    padding: 5px cyan solid;
    width: auto;
    height: 100px;
}
.bannerMenu{
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 1;
    justify-content: space-around;
    padding: 30px;
    border: 1px solid blue;
}
li{
    display: block;
    list-style-type: none;
}

.container{
    display: flex;
    flex-wrap: wrap;
    border: 5px cyan solid;
    display: grid;
    height: 100%;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto ;
    grid-auto-rows: 100px;
    justify-self: auto;

}
.container >div{
    font-family: 'Kalam', cursive;
    background-color: deeppink;
    height: auto;
    border: 5px solid;
    margin: 10px;
    
}
footer >section{
    font-family: 'DM Serif Display', serif;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    text-align: center;
    background-color:deeppink ;
    border: cyan solid;
    padding: 30px;

}
p{
    width: auto;
    border: cyan solid;
    margin: 5px;


}
@media (max-width:700px){
    .container{
        grid-template-columns: 100%;

    }
}
@media (max-width:349px){
    .footer{
        grid-template-columns: 100%;
        flex-wrap: wrap;
        justify-content: center;


    }
}

