*{
    margin: 0;
    padding: 0;
    
}
body{
    font-family: sans-serif;

}
header >section{
    display: flex;
    align-items: center;
    background-color:deeppink ;
    border: cyan solid;
    padding: 10px;
    justify-content: space-around;
    
}
.bannerMenu ol{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px;
    border: 1px solid blue;
}
.container{
    display: flex;
    flex-wrap: wrap;
    border: 5px cyan solid;
    display: grid;
    height: 100%;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto ;
    grid-auto-rows: 100px;
    justify-self: auto;

}
.item{
    background-color: deeppink;
    height: auto;
    border: 5px solid;
    margin: 10px;
    
}
footer >section{
    display: flex;
    flex-wrap: wrap;
    background-color:deeppink ;
    border: cyan solid;
    padding: 30px;
    justify-content:space-around;

}
p{
    width: auto;
    border: cyan solid;
    margin: 5px;


}
@media (max-width:349px){
    .container{
        grid-template-columns: 100%;

    }
}
@media (max-width:349px){
    .footer{
        grid-template-columns: 100%;
        flex-wrap: wrap;
        justify-content: center;


    }
}

